#school-map #content, #area-map #content
{
    margin:0em;
    padding:0em;
    text-align:center;
    clear:both;
}

#school-map img, #area-map img
{
    position:relative;
    margin: 2em auto;
    z-index:101;
}

#area-map #content
{
    padding: 4em 0em;
}

#school-map, #area-map
{
    z-index:102;
}
