@import url(http://fonts.googleapis.com/css?family=Niconne);

*/*margin and padding reset for browser consistency*/
{
    margin:0;
    padding:0;
}

/*slight rounding of corners on decent browsers*/
#header, #footer, div.urgent-notice, div.no-notice
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/********************/
/*Top level*/
body
{
    padding:1em;
    font-size:100%;
    font-family: verdana, arial, helvetica, serif;
    color: black;
    background-color:white;
    line-height:1.3;
    font-size:0.9em;
}

#page
{
    position:relative;
    margin:auto;
    max-width:67em;
    min-width:45em;
    font-size:1em;
}

#content
{
    font-size:1em;
    padding:2em 4em 2em 14em;
    min-height:20em;
}

* html #content.short/*fix for ie6*/
{
    height:22em;
}
/*End of Top Level*/
/********************/

/********************/
/*Suckerfish navigation*/
#navigation
{
    position:absolute;
    top:110px;/*matches header height*/
    left:0;
    margin-top:2em;/*matches header bottom margin*/
    width:11em;
    font-size:1em;
    z-index:1000;
}

.node-symbol
{
    position:absolute;
    right:0.2em;
    /* font-weight:bolder; */
    color:gray;
}

#navigation hr/*hide horizontal rule used for no-css display*/
{
    display:none;
}

#navigation ul
{
    list-style: none;
    margin:0;
}

#navigation li
{
    position:relative;
    float:left; /*fix for IE6 bug*/
    z-index:1;
    margin-bottom:-1px;
}

#navigation li ul {
    position : absolute;
    top: 0px;
    left: 10em;
    display:none;
}

#navigation a {
    width: 10em;
    display : block;
    color : black;
    /* font-weight : bold; */
    text-decoration : none;
    background-color : white;
    border : 1px solid black;
    padding : 0.25em 0.5em;
}

* html #navigation a /*workaround for IE6 Box model bug*/
{
    width:11em;
}

#navigation li:hover, #navigation li.sfhover
{
    min-height:0;/*fix for IE7 hover bug*/
    z-index:2;
}

#navigation li a:hover {
    color : white;
    background-color : black;
}

#navigation li:hover ul, #navigation li:hover li:hover ul,
#navigation li.sfhover ul, #navigation li.sfhover li.sfhover ul
{
    display:block;
}

#navigation li:hover ul ul, #navigation li.sfhover ul ul
{
    display:none;
}

#navigation li a.current
{
    background-color:#E0F0FF;
    color:black;
}
/*End of suckerfish navigation*/
/********************/

/********************/
/*Header*/
#header
{
    font-size:1em;
    background-color:#0000ec;
    background-image:url(../images/logo.gif);
    background-repeat:no-repeat;
    background-position:5px;
    height:104px;
    overflow:hidden;
    border: 3px solid #0000ec;
}

* html #header
{
    height:110px;
}

#header h1
{
    font-family: "Niconne";
    font-weight: normal;
    position:relative;
    white-space:nowrap;
    margin:20px 0px 0px 85px;
    color:yellow;
    font-size:3em;
}
/*End header*/
/********************/

/********************/
/*Footer*/
#footer
{
    position:relative;
    clear:both;
    font-size:1em;
    background-color:#0000ec;
    height:51px;
    overflow:hidden;
    border: 3px solid #0000ec;
}

* html #footer
{
    height:57px;
}

#footer #awards
{
    position:absolute;
    right:0px;
    z-index:1;
    margin:0;
}

#footer p
{
    position:relative;
    top: -1em;
    margin: 30px 228px 0px 88px;
    text-align:center;
    color:yellow;
}

#footer span.footer-text
{
    margin:0em 0.5em;
    white-space:nowrap;
}

* html #footer p
{
    margin-top:27px;
}

#footer a
{
    color:yellow;
}
/*End footer*/
/********************/

p
{
    margin:1em;
}

blockquote
{
    margin:0.25em 3em;
}


address
{
    font-style:normal;
    margin: 1em 3em;
}

/********************/
/*Headings*/
h1
{
    font-size:1.5em;
    margin-bottom:1em;
}

h2
{
    font-size:1.2em;
    margin-bottom:0.75em;
}

h3
{
    font-size:1.1em;
    margin-bottom:0.5em;
}
/*End headings*/
/********************/

/********************/
/*Lists*/
dt
{
    font-weight:bold;
}

dd
{
    margin:0.25em 0em 0.5em 6em;
}

dl.diary dd
{
    list-style-type:disc;
    display:list-item;
}

dl
{
    margin: 1em;
}

ul, ol
{
    margin:1em;
    margin-left:3em;
}

li ul, li ol
{
    margin:0 0 0 1.5em;
}
/*End lists*/
/********************/

/********************/
/*Images*/
img
{
    margin: 20px;
}

img.float-right
{
    float:right;
}

img.float-left
{
    float:left;
}
/*End images*/
/********************/

/********************/
/*Tables*/
table
{
    border: solid black 2px;
    border-collapse:collapse;
    margin: 1em 2em 2em 2em;
}

table td, table th
{
    border: solid black 1px;
    padding: 0.5em 1em;
}

th
{
    background-color:#E0E0FF;
    border-right:solid black 2px;
    width:7em;
}

* html th
{
    width:8.5em;
}

thead th
{
    width:auto;
}

* html td, * html th
{
    font-size:0.9em;
}

table.download, table.download tr, table.download td
{
    border:none;
}

table.download img
{
    border:none;
    margin:0;
}
/*End tables*/
/********************/

/********************/
/*Misc spans and divs*/
.clear
{
    clear:both;
}

span.correction
{
    text-decoration: line-through;
}

.hide /*for stuff that should only appear in non css output*/
{
    display:none;
}

.yeargroup
{
    font-weight: bold;
    color: #008000;
}

div.policy-dates
{
    border: 1px gray solid;
    width:17em;
    color:gray;
    margin:0 0 0 auto;
}

div.policy-dates ul
{
    list-style:none;
    margin:0 2em;
}

div.urgent-notice, div.no-notice
{
    margin:0em -1em 1em -1em;
    padding:1em;
}

div.urgent-notice
{
    background-color:#FFE0E0;
}

div.no-notice
{
    background-color:#E0FFE0;
}

.draft
{
    background-image: url(../images/draft.png);
}

pre
{
    font-family: verdana, arial, helvetica, serif;
}

div.governor
{
    position:relative;
}

div.governor img
{
    position:absolute;
    margin-top: 5px;
}

div.governor-desc
{
    margin-left:230px;
    min-height: 300px;
}

* html div.governor-desc
{
    height:300px;
}

#governors h2
{
    margin-top: 2em;
}

div.jumphighlight
{
    padding: 1em;
    margin: 1em -1em 1em -1em;
    border: solid 3px yellow;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*End misc spans and divs*/
/********************/

/*Print stylesheet*/
@media print {

  #content
  {
      font-size: 11pt; font-family: times new roman, serif;
  }

  #content td /*td doesn't always pick up cascaded font characteristics*/
  {
    font-family: times new roman, serif;
    font-size:11pt;
  }

  #content
  {
      padding-left:0em;
  }

  #navigation, #header, #footer
  {
    display: none;
  }

  pre
  {
    font-family: times new roman, serif;
  }
}